html
{
  display: flex;
  font-size: 18px;
}

@media (max-width: 768px)
{
  html { font-size: 16px }
}

body
{
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-weight: 300;
  margin: 0;
  /* Start below fixed navbar */
  padding-top: 4em;
  line-height: 1.5;
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

h1,
.h1,
h2,
h3,
h4,
h5 { font-weight: 700;}

.button { font-weight: 400; }

#content,
#blog
{
  padding-bottom: 2em;
  flex-grow: 1;
}

a img
{
  border: none;
}

a:link, a:visited
{
  color: #555;
}

button
{
  cursor: pointer;
}

code, pre
{
  font-family: monospace;
}

pre
{
  background: #ececec;
  padding: 1em;
  overflow: auto;
}

.sprite
{
  display: inline-block;
  font-size: 0px; /* fix for IE6 height bug */
  background-image: url(../img/sprite-main.png);
  background-repeat: no-repeat;
}

.toc
{
  display: inline-block;
  border: 1px solid #D2D2D2;
  background: #fff;
  padding: 16px 20px;
  border-radius: 4px;
}

.toc ul
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc ul ul { padding-left: 40px; }

.toc li { margin: 4px 0; }

.toc.toc-list { padding: 1em; }

.toc.toc-list p
{
  margin-top: 0;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #585858;
}

.toc.toc-list ul { padding-left: 1em; }

.toc.toc-list ul li
{
  font-size: 16px;
  line-height: 2em;
}

.toc.toc-list ul li a.active
{
  color: #000;
  font-weight: bolder;
  position: relative;
}

.toc.toc-list ul li .active:before
{
  content: "";
  border-left: 2px solid #0779d0;
  height: 25px;
  left: -1em;
  top: 0px;
  position: absolute;
}

.toc.toc-list ul li ul li
{
  font-size: 14px;
}

.toc.toc-list ul li ul li .active:before
{
  content: "";
  left: -2.1em;
  top: -2px;
}

@media(min-width: 991px)
{
  .toc.toc-list
  {
    width: 30%;
    max-width: 330px;
    float: left;
    margin-top: 1em;
    overflow: auto;
  }

  .toc.toc-list.fixed
  {
    position: fixed;
  }

  .toc-page-container
  {
    float: right;
    width: 70%;
    padding-left: 3em;
  }
}

#social-list ul
{
  list-style: none;
  padding: 0;
  margin: 0;
}

div.animation[started="false"]:before
{
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPBAMAAADJ%2BIh5AAAAFVBMVEUAgAAAgAD%2F%2F%2F%2Fr9uvY7Ni%2B376h0aGeNpcsAAAAAXRSTlNtc%2BXFgwAAADVJREFUeF5dzVEKACAMAlC7QW6t%2F7r%2FIYOBEPr1GOgw2AHiduaHkwKXwBK4BYZdylrpy4K%2BP%2Fu5C1CVKVSzAAAAAElFTkSuQmCC);
  padding-left: 0px;
  padding-right: 3px;
}

html[dir="rtl"] div.animation[started="false"]:before
{
  padding-left: 3px;
  padding-right: 0px;
}

div.animation[started="false"]
{
  cursor: pointer;
}

div.animation[started="true"]
{
  box-sizing: initial;
  -moz-user-select: none;
}

.animation img
{
  max-width: none;
}

.alert
{
  display: block;
  padding: 15px;
  margin: 15px 0;
  background-color: #fff;
  border: 1px solid #a1a1a1;
  border-radius: 4px;
}

[dir="ltr"] .alert
{
  border-left: 5px solid #ea2349;
}

[dir="rtl"] .alert
{
  border-right: 5px solid #ea2349;
}

/******************************************************************************
 * .section
 *****************************************************************************/

.section
{
  padding-top: 2em;
  padding-bottom: 2em;
}

/******************************************************************************
 * .content
 *****************************************************************************/

.content h1,
.content .h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6
{
  margin: 32px 0 16px 0;
  margin: 2rem 0 1rem 0;
  line-height: 1.4;
}

/* Root font size is 16px */
.content h1,
.content .h1 { font-size: 42px; }
.content h2 { font-size: 34px; }
.content h3 { font-size: 1.8em; }
.content h4 { font-size: 1.4em; }
.content h5 { font-size: 1.2em; }
.content h6 { font-size: 16px; }

@media(min-width: 768px)
{
  h1.linebreak span,
  h2.linebreak span
  {
    display: block;
  }
}

@media(min-width: 768px)
{
  .content h1 { line-height: 1.3; }

  /* Root font size is 18px */
  .content h1,
  .content .h1 { font-size: 52px; }
  .content h2 { font-size: 42px; }
  .content h3,
  .content .h3 { font-size: 32px; }
  .content h4 { font-size: 1.2em; }
  .content h5 { font-size: 1.1em; }
  .content h6 { font-size: 18px; }
}

.content a,
.content a:visited
{
  font-weight: 400;
  color: #0779d0;
}

/* Buttons
 ******************************************************************************/

.button
{
  display: inline-block;
  padding: 0.5em 2em;
  border: none;
  text-align: center;
}

.button:hover,
.button:active,
.button:focus
{
  text-decoration: none;
}

a.download-button,
a.download-button:hover,
a.download-button:active,
a.download-button:visited
{
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

.download-button
{
  position: relative;
  padding: 14px 18px 14px 72px;
  line-height: 1.4;
  text-transform: uppercase;
  text-align: left;
  background-color: #0AAD03;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16);
  font-size: 16px;
  font-weight: bold;
  color: #fff;

}

.download-button:hover,
.download-button:focus
{
  background-color: #258333;
}

.download-button::before
{
  display: block;
  position: absolute;
  content: "";
  top: 50%;
  left: 18px;
  margin-top: -20px;
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center;
}

#abp_chrome.download-button::before
{
  background-image: url("/img/chrome.svg");
}

#abp_chromium.download-button::before
{
  background-image: url("/img/chrome.svg");
}

#abp_firefox.download-button::before
{
  background-image: url("/img/firefox.svg");
}

#abp_safari.download-button::before
{
  background-image: url("/img/safari.svg");
}

#abp_msedge.download-button::before,
#abp_msedge_chromium.download-button::before
{
  background-image: url("/img/msedge.svg");
}

#abp_opera.download-button::before
{
  background-image: url("/img/opera.svg");
}

#abp_yandexbrowser.download-button::before
{
  background-image: url("/img/yandex.svg");
}

.download-options .download-button span
{
  display: inline-block;
}

/* WARNING: Selectors below must be added to the padding-left rule after too */

.chrome .download-button::before { background-image: url("/img/chrome.svg"); }
.chromium .download-button::before { background-image: url("/img/chrome.svg"); }
.firefox .download-button::before { background-image: url("/img/firefox.svg"); }
.safari .download-button::before { background-image: url("/img/safari.svg"); }
.msedge .download-button::before,
.msedge_chromium .download-button::before{ background-image: url("/img/msedge.svg"); }
.opera .download-button::before { background-image: url("/img/opera.svg"); }
.yandexbrowser .download-button::before { background-image: url("/img/yandex.svg"); }

.chrome #install-button,
.chromium #install-button,
.firefox #install-button,
.safari #install-button,
.msedge #install-button,
.msedge_chromium #install-button,
.opera #install-button,
.yandexbrowser #install-button
{ padding-left: 72px; }

.button.primary
{
  color: #fff !important;
  background-color: #0779d0 !important;
  box-shadow: 0px 2px 5px #95989A;
}

.button.primary:hover
{
  background-color: #0390d8 !important;
}

.button.primary:active
{
  background-color: #0390d8 !important;
}

.button.accent,
.button.accent:visited
{
  background: #077CA6 !important;
  color: #fff !important;
  margin-left: 2px;
  margin-right: 2px;
}

.button.accent:hover,
.button.accent:active,
.button.accent:focus
{
  box-shadow: inset 0 0 0 3px #005D80;
}

a.icon-button
{
  padding: 14px 18px 14px 72px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #0AAD03;
  color: #fff;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16);
}

a.icon-button:visited
{
  background-color: #258333;
  color: #fff;
}

.button .button-image
{
  vertical-align: middle;
  margin-right: 10px;
}

.icon-button .button-text
{
  position: relative;
  top: 0.1em;
}

.download-button > *,
.app-store-button > * { pointer-events: none; }

.app-store-button { display: inline-block; }

.download-more {
  font-weight: bolder;
}

/*******************************************************************************
 * .fg-* utilities
 ******************************************************************************/

.fg-accent
{
  color: #0779d0;
}

.bg-secondary
{
  color: #000;
  background-color: #F7F7F7;
}

.bg-light
{
  color: #000;
  background-color: #F7F7F7;
}

.bg-dark
{
  color: #fff;
  background-color: #000;
}


/*******************************************************************************
 * #navbar
 ******************************************************************************/

#navbar
{
  min-height: 4em;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 9002;
  width: 100%;
  top: 0;
  transition: top 0.2s ease-in-out;
  border-bottom: 1px solid #d2d2d2;
}

@media(max-width: 991px)
{
  #navbar
  {
    overflow: auto;
    box-shadow: 0px 1px 5px rgba(0, 0, 0,  0.1);
  }
}

#navbar li
{
  list-style-type: none;
}

@media(min-width: 991px)
{
  #navbar .active a
  {
    font-weight: bolder;
    position: relative;
  }

  #navbar .active a::before
  {
    content: "";
    position: absolute;
    background: #0779d0;
    height: 2px;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 71px;
  }
}

#navbar .container
{
  padding-left: 0;
  padding-right: 0;
}

/* #navbar #navbar-logo
 ******************************************************************************/

#navbar-logo
{
  /* padding is visible in hover background-color change */
  min-width: 14em;
  padding: 0.3em 1em 0em;
  color: #fff;
}

#navbar-logo:hover,
#navbar-logo:active,
#navbar-logo:focus
{
  text-decoration: none;
}

#navbar-logo,
#navbar-logo > *
{
  float: left;
}

[dir="rtl"] #navbar-logo,
[dir="rtl"] #navbar-logo > *
{
  float: right;
}

#navbar-logo img
{
  height: 3.5em;
  width: auto;
  padding: 0.5em 0em;
  margin: 0em 1em 0em 0em;
}

[dir="rtl"] #navbar-logo > img
{
  margin: 0em  0em 0em 1em;
}

#navbar-logo > span
{
  /* full-height: 2.91 * 1.375 = ~4em */
  display: none;
  line-height: 2.91em;
  font-size: 1.375em;
  word-spacing: -2px;
}

#navbar-logo strong { font-weight: 700; }

@media (max-width: 480px) {
  #navbar-logo
  {
    max-width: 190px;
    min-width: unset;
  }
}

/* #navbar #navbar-menu-toggle
 ******************************************************************************/

#navbar-menu-toggle
{
  float: right;
  padding: 1em;
}

[dir="rtl"] #navbar-menu-toggle
{
  float: left;
}

/* show on mobile */
#navbar-menu-toggle,
#navbar-menu-toggle > img
{
  display: block;
}

/* hide on desktop */
@media(min-width: 992px)
{
  #navbar-menu-toggle
  {
    display: none;
  }
}

#navbar-menu-toggle > img
{
  /* plus 2em padding = 4em */
  height: 2em;
}

@media (max-width: 480px) {
  #navbar-menu-toggle > img
  {
    height: 1.5em;
    margin-top: 0.3em;
  }
}

/* #navbar #navbar-menu
 ******************************************************************************/

#navbar-menu a
{
  display: block;
  color: #000;
  text-decoration: none;
}

/* #navbar #navbar-menu #navbar-locale-menu
 ******************************************************************************/

/* caret */
#navbar-locale-selected:after
{
  display: inline-block;
  width: 0;
  height: 0;
  margin: 0em 0em 0em 0.255em;
  vertical-align: .155em;
  content: "";
  border-top: .3em solid;
  border-right: .3em solid transparent;
  border-left: .3em solid transparent;
  color: #0779d0;
}

[dir="rtl"] #navbar-locale-selected:after
{
  margin: 0em 0.255em 0em 0em;
}

#navbar-locale-menu
{
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 1px 0px 1px #f4f4f4
}

#navbar-locale-menu
{
  display: none;
}

#navbar-locale-menu.visible
{
  display: block;
}

#navbar-locale-menu > li > a
{
  padding: 0.75em 1em;
}

#navbar-locale-menu > li > a:hover,
#navbar-locale-menu > li > a:active,
#navbar-locale-menu > li > a:focus
{
  color: #0779d0;
  background: #EDF9FF;
}

/* #navbar #navbar-menu (desktop)
 ******************************************************************************/

@media(min-width: 992px)
{
  #navbar-menu
  {
    float: right;
  }

  [dir="rtl"] #navbar-menu
  {
    float: left;
  }

  #navbar-menu > li,
  #navbar-menu > li > a
  {
    display: inline-block;
  }

  #navbar-menu > li > a
  {
    padding: 0em 1em;
    line-height: 4em;
  }

  #navbar-menu > li > a:hover,
  #navbar-menu > li > a:active,
  #navbar-menu > li > a:focus
  {
    color: #0779d0;
    background: #EDF9FF;
  }

  /* #navbar #navbar-menu #navbar-locale-menu
   ****************************************************************************/

  #navbar-locale-menubar
  {
    position: relative;
  }

  #navbar-locale-menu
  {
    position: absolute;
    min-width: 16em;
    max-height: 20em;
    max-height: 70vh;
    top: 100%;
    right: 0px;
    overflow: auto;
    z-index: 9001;
    background-color: #fff;
  }

  [dir="rtl"] #navbar-locale-menu
  {
    right: auto;
    left: 0px;
  }
}

/* #navbar #navbar-menu (mobile)
 ******************************************************************************/

@media(max-width: 991px)
{
  #navbar-menu
  {
    display: none;
    float: left;
    clear: both;
    width: 100%;
    background-color: #fff;
    overflow-y: scroll;
    max-height: 416px;
    max-height: 80vh;
  }

  #navbar-menu.visible
  {
    display: block;
  }

  #navbar-menu li a
  {
    padding: 0.75em 1em;
  }

  #navbar-menu li a:hover,
  #navbar-menu li a:active,
  #navbar-menu li a:focus
  {
    color: #0779d0;
  }
}

/*******************************************************************************
 * #footer
 ******************************************************************************/

#footer
{
  color: #ececec;
  background-color: #000;
  font-size: 0.9em;
}

#footer .footer-links
{
  background: #585858;
}

#footer .footer-links .container
{
  padding: 3em 1em;
}

#footer .row
{
  display: flex;
  flex-flow: row wrap;
}

@media (min-width: 576px) and ( max-width: 767px)
{
  #footer .column { width: 50%; }
}

/* #footer body
 ******************************************************************************/

#footer .footer-heading
{
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  margin-top: 2rem;
  text-transform: uppercase;
}

#footer ul
{
  padding: 0em;
  list-style-type: none;
}

#footer a
{
  font-weight: 300;
  color: #fff;
}

#footer a:hover,
#footer a:active,
#footer a:focus
{
  color: #fff;
  text-decoration: underline;
}

/* #footer #social-list
 ******************************************************************************/

#social-list {
  margin: 2rem 0 0.5rem;
}

#social-list .footer-social-heading
{
  font-size: 16px;
  font-weight: 600;
  margin-top: 0;
  display: inline-block;
  vertical-align: bottom;
  text-transform: uppercase;
  color: #CDCDCD;
}

#social-list ul
{
  display: inline-block;
  margin-left: 1rem;
}

#social-list li
{
  float: left;
  margin: 0em 0.255em;
}

[dir="rtl"] #social-list li
{
  float: right;
}

#social-list img
{
  height: 2em;
}

@media(min-width: 767px)
{
  #social-list li
  {
    margin: 0 0.375em;
  }
  #social-list ul
  {
    margin-left: 0.35em;
  }
}

@media(max-width: 767px)
{
  #social-list ul
  {
    display: block;
    margin-left: 0;
  }
  #social-list img
  {
    height: 3em;
  }
}

@media(max-width: 576px)
{
  #social-list li { margin: 0 0.375em; }
}

/* #footer #footer-legal
 ******************************************************************************/

#footer #footer-legal #copyright-notice,
#footer #footer-legal #legal-list
{
  margin: 2em 0;
}

@media (max-width: 767px) {
  #footer-legal { margin-top: 3em; }
}

/* #footer #footer-legal #legal-list
 ******************************************************************************/

#legal-list { overflow: auto; }

#legal-list li
{
  float: left;
  margin: 0;
}

[dir="rtl"] #legal-list li
{
  float: right;
}

@media(min-width: 1200px) {
  #legal-list li
  {
    padding-left: 1.5em;
  }
}

@media(max-width: 1200px) {
  #legal-list li
  {
    padding-right: 1.5em;
  }
}

/* float copyright and legal links left and right on ~desktop */
@media(min-width: 1200px)
{
  #copyright-notice
  {
    float: left;
  }

  [dir="rtl"] #copyright-notice
  {
    float: right;
  }

  #legal-list
  {
    float: right;
  }

  [dir="rtl"] #legal-list
  {
    float: left;
  }
}

/* Video
 ****************************************************************************/

.video-parent
{
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  border: 1px solid #c9c9c9;
  box-shadow: 1px 1px 0 0 #dbdbdb;
  overflow: hidden;
}

.video-parent.has-iframe::before
{
  display: block;
  content: "";
  padding-top: 56.25%;
}

.video-parent iframe
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-link
{
  display: block;
  position: relative;
}

.video-thumbnail
{
  display: block;
  width: 100%;
  opacity: 0.2;
}

.hide-disclaimer .video-thumbnail
{
  opacity: 1;
}

.video-disclaimer
{
  padding: 1em;
  background-color: #fff;
  font-size: 0.9em;
  text-align: center;
}

@media (min-width: 576px)
{
  .video-disclaimer
  {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.content .video-disclaimer
{
  margin: 0;
}

.hide-disclaimer .video-disclaimer
{
  display: none;
}

.video-play
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  margin-top: -40px;
  margin-left: -40px;
}

@media (min-width: 576px)
{
  .video-play
  {
    margin-top: -60px;
  }
}

.hide-disclaimer .video-play
{
  margin-top: -40px;
}

.hide
{
  display: none;
}

/******************************************************************************
 * .item-group
 *****************************************************************************/

.item-group
{
  padding-top: 3em;
  padding-bottom: 3em;
}

[dir="rtl"] .item-group { text-align: right; }

[dir="ltr"] .item-group { text-align: left; }

.item-group img
{
  height: 15em;
  width: auto;
}

@media (max-width: 575px)
{
  .item-group .column
  {
    margin-bottom: 3em;
  }

  .item-group .column:last-of-type
  {
    margin-bottom: 0;
  }

  .item-group img
  {
    display: block;
    margin: 0 auto;
  }

  .item-group .column
  {
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 1023px)
{
  .item-group .column
  {
    position: relative;
    width: auto;
    padding: 0 3em 2em 10.5em;
    min-height: 7em; /* Height of image plus 2em bottom padding */
  }

  [dir="rtl"] .item-group .column
  {
    padding: 0 10.5em 2em 3em;
  }

  .item-group .column:last-of-type
  {
    padding-bottom: 0;
    min-height: 6em; /* Height of image */
  }

  .item-group img
  {
    position: absolute;
    left: 1em;
    top: 0;
    height: 8em;
  }

  [dir="rtl"] .item-group img
  {
    left: auto;
    right: 3em;
  }

  .item-group h2
  {
    margin: 0;
  }
}

/* Horizontal List
 ******************************************************************************/

.horizontal-list
{
  display: inline;
  list-style: none;
}

.horizontal-list,
.content .horizontal-list
{
  padding: 0;
}

.horizontal-list li
{
  display: inline;
  list-style: none;
}

/******************************************************************************
 * Text utilities
 *****************************************************************************/

@media(max-width: 767px)
{
  .text-center-mobile { text-align: center; }
}

.avoid-wrap {display: inline-block;}

small,
.small { font-size: 0.8em;}

.extra-small { font-size: 0.666666em; }

.uppercase { text-transform: uppercase; }

.sup
{
  vertical-align: super;
  font-size: smaller;
}

.block
{
  display: block;
}

.settings-icon
{
  display: inline-block;
  width: 1em;
  height: 1em;
  background-image: url("/img/icon-gear.svg");
  background-size: 1em;
  background-repeat: no-repeat;
  background-position: right;
}

.info-box
{
  padding: 1em;
  border-radius: 0.4em;
}

.desktop .info-box
{
  display: none;
}

.info-box p
{
  margin: 0.5em 0;
}

.info-box .close-button
{
  float: right;
  width: 18px;
  padding: 0;
}

[dir="rtl"] .info-box .close-button
{
  float: left;
}
