@media (min-width: 830px)
{
  html { background-color: #000; }
}

body
{
  display: block;
  padding-top: 0;
}

@media (min-width: 576px)
{
  .content h1 { font-size: 27px; }

  .content h2
  {
    margin-top: 1.5rem;
    font-size: 24px;
  }
}

@media (min-width: 992px)
{
  .container {
    width: 960px;
  }
}

.update.container
{
  padding-top: 2.5rem;
  padding-bottom: 1.5rem;
  background-color: #FFF;
}

@media (min-width: 830px)
{
  .update.container
  {
    border-radius: 6px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

.update-header
{
  position: relative;
  /* Must be at-least as tall as the image within to space properly */
  min-height: 130px;
}

.update-header-image
{
  display: block;
  margin: 0 auto;
}

@media (min-width: 576px)
{
  .update-header-image { position: absolute; }

  [dir="ltr"] .update-header-image { left: 0; }

  [dir="rtl"] .update-header-image { right: 0; }
}

@media (min-width: 576px)
{
  [dir="ltr"] .update-header-heading,
  [dir="ltr"] .update-header-lead { margin-left: 150px; }

  [dir="rtl"] .update-header-heading,
  [dir="rtl"] .update-header-lead { margin-right: 150px; }

  .content .update-header-heading { margin-top: 0; }
}

.content .update-header-heading small { font-weight: normal; }

.content .update-header-lead { margin-bottom: 0; }

.privacy-footer
{
  text-align: center;
  margin: 1em 0;
}

/* css-loaders
 * @link https://github.com/lukehaas/css-loaders
 * @copyright Copyright (c) 2014 Luke Haas
 * @license MIT
 */
.loader {
  font-size: 10px;
  margin: 0 auto;
  text-indent: -9999em;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.loader::before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.loader::after {
  background: #2888F9;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


/* end of css-loaders */

.privacy-footer a { color: #000; }

@media (min-width: 830px)
{
  .privacy-footer a { color: #fff; }
}
