title=Advanced Documentation


<ul>
  <li><a href="subscriptions">{{subscriptions Known Adblock Plus subscriptions}}</a></li>
  <li><a href="https://help.eyeo.com/adblockplus/how-to-write-filters">{{filters Writing Adblock Plus filters}}</a></li>
  <li><a href="preferences">{{preferences Adblock Plus preferences}}</a></li>
</ul>

<h2 id="code-documentation">{{code-documentation Source code documentation}}</h2>
<ul>
  <li>{{core-documentation Core}} <a href="https://eyeo.gitlab.io/adblockplus/abc/adblockpluscore/master/docs/" hreflang="en">{{pre-release Pre-Release}}</a> | <a href="https://eyeo.gitlab.io/adblockplus/abc/adblockpluscore/next/docs/" hreflang="en">{{development Development}}</a></li>
  <li>{{webextension-documentation WebExtension}} <a href="https://eyeo.gitlab.io/adblockplus/adblockpluschrome/master/docs/" hreflang="en">{{pre-release Pre-Release}}</a> | <a href="https://eyeo.gitlab.io/adblockplus/adblockpluschrome/next/docs/" hreflang="en">{{development Development}}</a></li>
  <li><a href="https://eyeo.gitlab.io/adblockplus/libadblockplus" hreflang="en">{{libadblockplus-documentation Libadblockplus}}</a></li>
</ul>
