title=Adblock Plus Features
notoc=true

<head>
<link href="/css/topics.css" rel="stylesheet">
<link href="/css/topics-desktop.css" media="(min-width: 1000px)" rel="stylesheet">
<link href="/css/topics-mobile.css" media="(max-width: 1000px)" rel="stylesheet">
<link href="/css/features.css" rel="stylesheet">
<meta content="{{s2 Adblock Plus can do more than just block ads; it can disable unwanted tracking, protect against malware and remove social media buttons.}}" name="description">
<meta content="{{s2 Adblock Plus can do more than just block ads; it can disable unwanted tracking, protect against malware and remove social media buttons.}}" property="og:description">
</head>

<div id="toc">
  <a class="topic-small" href="#adblocking">
    <div class="feature-adblocking sprite"></div>
    <p>{{s5 Block Ads}}</p>
  </a>
  <a class="topic-small" href="#acceptable">
    <div class="feature-acceptable sprite"></div>
    <p>{{s6 Allow Acceptable Ads}}</p>
  </a>
  <a class="topic-small" href="#tracking">
    <div class="feature-tracking sprite"></div>
    <p>{{s7 Disable Tracking}}</p>
  </a>
  <a class="topic-small" href="#disable-social">
    <div class="feature-socialmedia sprite"></div>
    <p>{{s9 Disable Social Media Buttons}}</p>
  </a>
</div>

<p>
{{s11 Each Adblock Plus feature functions because of a filter list. You can use pre-made filter lists or <a href="https://help.eyeo.com/adblockplus/how-to-write-filters">create your own</a>.}}
</p>
<p>
{{s12 By default, <a href="#adblocking">EasyList</a>, which corresponds to your browser's language setting, and the <a href="#acceptable">Acceptable Ads list</a> are enabled to get you started. 
You can remove them or add others - it's up to you.}}
</p>

<p>
{{s13 <strong>Important:</strong> Eyeo GmbH, the company behind Adblock Plus, <strong>did not</strong> draft EasyList and, therefore, has no right to, or control over, its content. Visit the <a href="https://easylist.to/">EasyList Community</a> for more information. 
In no case will Eyeo be held liable towards you or any other party for any loss or damage (including, but not limited to, loss of chances and of business) deriving directly or indirectly from your use of such lists.}}
</p>

<div id="list">
  <div class="topic first">
    <div class="feature-block sprite"></div>
    <h3 id="adblocking">{{s5 Block Ads}}</h3>
    <div class="description">
      {{s15 Adblock Plus blocks all annoying ads on the web by default, including video ads on YouTube, Facebook ads, flashy banners, pop-ups, pop-unders and much more.
      This is possible based on the filter list(s) you've selected.}}
      <div class="longtext">
        {{s16 Simply <a href="https://adblockplus.org/">install Adblock Plus</a> and, if you'd like, customize it to fit your unique browsing needs.}}
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="feature-acceptable sprite"></div>
    <h3 id="acceptable">{{s17 Allow Acceptable Ads}}</h3>
    <div class="description">
      {{s18 Since many websites rely on advertising revenue, <fix>Adblock Plus</fix>'s default settings encourage the use of nonintrusive advertising rather than annoying, irrelevant ads.}}
      <div class="longtext">
        {{s19 To accomplish this, we've established a set of <a href="acceptable-ads#criteria">strict guidelines</a> known as the Acceptable Ads initiative. Together with our users and third-party contributors, we have defined acceptable ads and outlined appropriate ad placement and size.}}
         {{s20 Ads meeting these criteria are visible. You can, however, disable this feature at any time and browse <a href="acceptable-ads#optout">ad-free</a>.}}
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="feature-tracking sprite"></div>
    <h3 id="tracking">{{s7 Disable Tracking}}</h3>
    <div class="description">
      {{s22 With every browsing session, there are multiple firms tracking your online activity and browsing history.}} {{s23 Hundreds of ad agencies
      are tracking your every move. With Adblock Plus, you can easily disable most tracking and browse the web more anonymously.}}
      <div class="longtext">
        <p>
          {{s24 According to <a href="http://cyberlaw.stanford.edu/node/6730">Stanford University research</a>, the EasyPrivacy tracking protection filters are the most efficient of all available tracking protection solutions, and can extend the tracking protection of <fix>Adblock Plus</fix>.}}
        </p>
        <p>
          {{s25 To enable this feature, <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Feasyprivacy.txt&amp;title=Disable%20Tracking">open this dialogue</a>
          and click <strong>Add</strong>.}}
        </p>
      </div>
    </div>
  </div>

  <div class="topic">
    <div class="feature-socialmedia sprite"></div>
    <h3 id="disable-social">{{s9 Disable Social Media Buttons}}</h3>
    <div class="description">
      {{s33 Buttons used to share content on social media platforms such as Facebook, Twitter, Google Plus and others are placed on almost every website that you visit. Even if you don't click them, these buttons send requests to the social network's servers which then uses the information to create a profile based on your browsing habits.}}
      <div class="longtext">
        <p>
          {{s35 Adblock Plus can disable social media buttons from websites, ensuring that social networks cannot create a profile based on the websites you visit.}}
        </p>
          <p>
          {{s36 To enable this feature, <a href="https://subscribe.adblockplus.org?location=https%3A%2F%2Feasylist-downloads.adblockplus.org%2Ffanboy-social.txt&amp;title=Fanboy's%20Social%20Blocking%20List">open this dialogue</a>
          and click <strong>Add</strong>.}}
        </p>
      </div>
    </div>
  </div>
</div>
