title=Adblock Plus Premium | The world's #1 ad blocker
description=Adblock Plus Premium, the upgraded version of the most popular ad blocker on Firefox, Chrome, Safari, Android and iOS. Block pop-ups and annoying ads on websites like Facebook and YouTube.
template=minimal
bodyclass=premium-accounts-page
robots=none
unadblock=1

<head>
    <link rel="stylesheet" href="/adblock/css/style.css" />
    <link rel="stylesheet" href="/adblock/css/updateStyle.css" />
    <link rel="stylesheet" href="/adblock/premium/enrollment/style.css" />
    <link rel="stylesheet" href="/adblock/premium/manage-subscription/style.css" />
    <link rel="stylesheet" href="/adblock/premium/manage-subscription/flows.css" />
    <link rel="stylesheet" href="/css/unadblock.css" />    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="/adblock/js/log.js"></script>
    <script src="/adblock/js/currency.js"></script>
    <script src="/adblock/js/user.js"></script>
    <script src="/adblock/i18n/localesIndex.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
</head>

<main role="main" id="mainPageContent">
    <img alt="" src="/img/adblock-plus-premium-navbar.svg" class="premium-header-image">
    <div id="registration-box" class="registration-box premium-account-card">
        <div id="card2">
            <div id="card2-page-2" class="card2-wrapper" style="display:none;">
                <h2 i18n="check_email">
                    {{ check_email Please check the email we sent you }}
                </h2>
                <p i18n="enter_code">
                    {{ enter_code Enter the 6-character code to confirm your email address. }}
                </p>
                <h3 id="user-email-address"></h3>
                <div id="code-entry">
                    <form id="confirmation-code">
                        <input
                            id="code"
                            type="text"
                            maxlength="6"
                            minlength="6"
                            placeholder="- - - - - -"
                            spellcheck="false"
                            autocomplete="false"
                            autofocus="true"
                        />
                        <button type="submit" style="display:none;"></button>
                    </form>
                </div>
                <div id="confirmation-code-error" i18n="code_incorrect" style="display:none;">
                    {{ code_incorrect That code is incorrect. }}
                </div>
                <div id="submit_code" class="submit-btn" i18n="uninstall_submit">
                    {{ uninstall_submit Submit }}
                </div>
                <p class="fine-print" i18n="check_spam_contact_us" i18n_replacement_el="email-support-link">
                    {{ check_spam_contact_us If you don't see an email, please check your spam or contact us at <a href="mailto:support@adblockplus.org">support@adblockplus.org</a>. }}
                </p>
                <a id="email-support-link" href="mailto:support@adblockplus.org"></a>
            </div>
            <div id="spinner-no-text" class="card2-wrapper">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <!-- Error cases -->
            <div id="card2-error-2" class="card2-wrapper" style="display: none;">
                <h2 i18n="oops_period">
                    {{ oops_period Oops. }}
                </h2>
                <p>
                    <span i18n="code_incorrect">
                        {{ code_incorrect That code is incorrect. }}
                    </span>
                    <span i18n="reach_out_help_setup" i18n_replacement_el="finish-setup1">
                        {{ reach_out_help_setup Reach out to us and let us help you finish setup! }}
                    </span>
                    <a href="mailto:support@adblockplus.org" target="_new" id="finish-setup1"></a>
                </p>
            </div>
            <div id="card2-error-3" class="card2-wrapper" style="display: none;">
                <h2 i18n="oops_period">
                    {{ oops_period Oops. }}
                </h2>
                <p>
                    <span i18n="cant_find_user_id">
                        {{ cant_find_user_id We can't seem to find your user id. }}
                    </span>
                    <span i18n="reach_out_help_setup" i18n_replacement_el="finish-setup2">
                        {{ reach_out_help_setup Reach out to us and let us help you finish setup! }}
                    </span>
                    <a href="mailto:support@adblockplus.org" target="_new" id="finish-setup2"></a>
                </p>
            </div>
            <div id="card2-error-5" class="card2-wrapper" style="display: none;">
                <h2 i18n="oops_period">
                    {{ oops_period Oops. }}
                </h2>
                <p>
                    <span i18n="problem_our_end">
                        {{ problem_our_end There was a problem on our end. }}
                    </span>
                    <span i18n="recorded_investigating">
                        {{ recorded_investigating It has been recorded and we're investigating. }}
                    </span>
                    <span i18n="reach_out_help_setup" i18n_replacement_el="finish-setup4">
                        {{ reach_out_help_setup Reach out to us and let us help you finish setup! }}
                    </span>
                    <a href="mailto:support@adblockplus.org" target="_new" id="finish-setup4"></a>
                </p>
            </div>
            <div id="card2-error-6" class="card2-wrapper" style="display: none;">
                <h2 i18n="oops_period">
                    {{ oops_period Oops. }}
                </h2>
                <p>
                    <span i18n="s1">
                        {{ s1 We need a few minutes to finish processing your subscription. }}
                    </span>
                    <span i18n="s2">
                        {{ s2 Please check back soon. }}
                    </span>
                </p>
                <p>
                    <span>
                        {{ s3 If you need help right away, <a href="mailto:support@adblockplus.org" target="_new">reach out to us!</a> }}
                    </span>
                </p>
            </div>
        </div>
    </div>

    <!-- Manage Subscription Activity -->
    <div id="subscription-canceled" class="premium-account-card" style="display:none;" i18n="subscription_canceled">
        {{ subscription_canceled Your subscription has been canceled. }}
    </div>
    <div id="sunset-premium-infinity" class="premium-account-card" style="display:none;">
        <div class="row SubscriptionDetails">
            <h4 i18n="subscription_details">
                {{ subscription_details Subscription Details }}
            </h4>
        </div>
        <div class="row SubscriptionDetails">
            <p>
                {{ s4 You updated your Premium account <span id="sunset-premium-infinity-update-date"></span> }}
            </p>
            <p>
                {{ s5 <strong>Free Unlimited Access</strong> }}
            </p>
        </div>
    </div>
    <div id="you-have-free-access" class="premium-account-card" style="display:none;">
        <span i18n="free_access_premium">
            {{ free_access_premium You have free access to Adblock Plus Premium! }}
        </span>
        <span i18n="free_license_expires" id="free-license-expires-date">
            {{ free_license_expires Your free license expires on $1. }}
        </span>
    </div>
    <div id="manage-subscription-activity" class="premium-account-card" style="display:none;">
        <div class="row SubscriptionDetails">
            <div class="text-content">
                <h2 i18n="subscription_details">
                    {{ subscription_details Subscription Details }}
                </h2>
                <p>
                    <span i18n="auto_renews_data" id="renews-on-date">
                        {{ auto_renews_data Automatically renews on $date$. }}
                    </span>
                    <span i18n="youll_be_charged_amount" id="amount-next-bill">
                        {{ youll_be_charged_amount You'll be charged $amount$. }}
                    </span>
                </p>
                <div class="card-info hidden" id="top-card-info">
                    <p>
                        <strong>
                            {{ current_card Current Card: }}
                        </strong>
                        <span id="current-card">Stripe-4242</span>
                    </p>
                    <p>
                        <span><strong>
                            {{ expires Expires: }}
                        </strong></span>
                        <span class="current-card-expiration">11/2020</span>
                    </p>
                </div>
            </div>
            <div class="action-button-container">
                <div class="cta-button gold-button" id="update-payment-method" style="display:none">
                    {{ update_method Update Payment Method }}
                </div>
                <div class="cta-button gray-button" id="initial-cancel-button" i18n="cancel_subscription">
                    {{ cancel_subscription Cancel Subscription }}
                </div>
            </div>
        </div>
        <div class="row" id="update-card-activity" style="display:none;">
            <div id="update-subscription-box" class="card2-wrapper">
                <div id="payment-box">
                    <h2>
                        {{ update_method Update Payment Method }}
                    </h2>
                    <div id="update-card-required" class="hidden">
                        <p>
                            {{ update_expire_next Your current card <span class="warning">will expire before your Next Bill Date</span>. Update your card now for all of your favorite Premium features, like Themes, Image Swap, and Sync to continue uninterrupted. }}
                        </p>
                        <p>
                            {{ not_charged_next Your new card will not be charged until the Next Bill Date. }}
                        </p>
                        <p>
                            <strong>
                                {{ current_card Current Card: }}
                            </strong>
                            <span id="current-card"></span>
                        </p>
                        <p>
                            <span class="warning"><strong>
                                {{ expires Expires: }}
                            </strong></span>
                            <span class="warning current-card-expiration"></span>
                        </p>
                    </div>
                    <div id="update-card-optional" class="hidden">
                        <p>
                            {{ you_may_update You may update the card you use to pay for all of your favorite Premium features, like Themes, Image Swap, and Sync. }}
                        </p>
                        <p>
                            <strong>
                                {{ current_card Current Card: }}
                            </strong>
                            <span id="current-card"></span>
                        </p>
                        <p>
                            <span><strong>
                                {{ expires Expires: }}
                            </strong></span>
                            <span class="current-card-expiration"></span>
                        </p>
                    </div>
                    <p>
                        <strong>
                            {{ next_bill_date Next Bill Date: }}
                        </strong> <span id="next-bill"></span>
                    </p>
                    <div id="stripe-update-card">
                        <div class="cc-input-form">
                            <!-- Start Stripe Credit Card Input Form -->
                            <div id="stripe_pay">
                                <form action="#" method="post" id="payment-form">
                                    <div class="form-row">
                                        <label>
                                            <span>
                                                {{ credit_card_number Credit Card Number }}
                                            </span>
                                            <div id="card-no" class="wide-input form-field"></div>
                                        </label>
                                    </div>
                                    <div class="form-row form-row-flex">
                                        <label>
                                            <span i18n="expiration_date">
                                                {{ expiration_date Expiration Date }}
                                            </span>
                                            <div id="card-exp" class="form-field skinny-form"></div>
                                        </label>
                                        <label id="cvc_label">
                                            <span i18n="cvc_cvv">
                                                {{ cvc_cvv CVC / CVV }}
                                            </span>
                                            <div id="card-cvc" class="form-field skinny-form"></div>
                                        </label>
                                        <div id="payment_form_error" style="display:none;"></div>
                                    </div>
                                    <button type="submit" style="display:none;"></button>
                                    <button id="donate_now">
                                        <div class="donate-button-text noselect">
                                            {{ update_card_details Update Your Card Details }}
                                        </div>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="paypal-update-card">
                        <p>
                            <strong>
                                {{ important_note Important Note: }}
                            </strong>
                            <p>
                                {{ not_logged_in_paypal If you are not logged in to your PayPal account yet, clicking the "Manage your PayPal subscription" button will have you log in, and <span class="warning">you might see a "Not Found" message</span>. }}
                            </p>
                            <p>
                                {{ stay_logged_in_paypal If you do, <strong>stay logged in to PayPal, switch back to this tab, and click the "Manage your PayPal subscription" button once more</strong>. You'll then see your subscription and be able to update your details. }}
                            </p>
                            <p>
                                {{ thank_you_process Thank you for your patience with this process. We are actively working to make this process more seamless for you. }}
                            </p>
                            <a href="#" target="_blank" id="paypal-manage-href"><button class="cta-button gold-button">
                                {{ manage_paypal_subscription Manage your PayPal subscription }}
                            </button></a><br />
                        </p>
                    </div>
                    <!-- End Stripe Credit Card Payment Form -->
                </div>
                <div id="card2" style="display: none;">
                    <div id="already-donated-progress">
                        <div class="progress-circle" id="progress-1"></div>
                        <div class="progress-circle" id="progress-2"></div>
                        <div class="progress-circle" id="progress-3"></div>
                    </div>
                    <div id="card2-page-3" class="card2-wrapper" style="display: none;">
                        <h2 i18n="confirming">
                            {{ confirming Confirming... }}
                        </h2>
                        <div class="lds-ring">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                    <div id="card2-page-4" class="card2-wrapper" style="display: none;">
                        <h2>
                            {{ your_card_updated Your card has been updated. }}
                        </h2>
                    </div>
                    <!-- Error cases for card2 -->
                    <div id="card2-error-1" class="card2-wrapper" style="display: none;">
                        <h2 i18n="oops_period">
                            {{ oops_period Oops. }}
                        </h2>
                        <p>
                            <span>
                                {{ something_gone_wrong Something has gone wrong. }}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section id="cool-stuff-you-get" class="premium-account-card" style="display:none">
        <h2 i18n="subscription_includes">
            {{ subscription_includes Your subscription includes: }}
        </h2>
        <div class="row premium-cancel-cards">
            <div class="column one-third">
                <article class="premium-cancel-card">
                    <h3 class="premium-cancel-card--heading">
                        {{ s6 Block additional distractions }}
                    </h3>
                    <p>
                        {{ s7 Say goodbye to newsletter pop-ups and other annoying distractions. }}
                    </p>
                    <img src="/img/DistractionImage.svg" alt="" style="margin-top: 4em">
                </article>
            </div>
            <div class="column one-third">
                <article class="premium-cancel-card">
                    <h3 class="premium-cancel-card--heading">
                        {{ s8 Stop floating videos }}
                    </h3>
                    <p>
                        {{ s9 Hide some of the videos used by many websites that follow you around as you browse. }}
                    </p>
                    <img src="/img/FloatingVideoImage.svg" alt="" style="margin-top: 4em">
                </article>
            </div>
            <div class="column one-third">
                <article class="premium-cancel-card">
                    <h3 class="premium-cancel-card--heading">
                        {{ s10 ABP Contributor status }}
                    </h3>
                    <p>
                        {{ s11 We are a small team and your support allows us to create a distraction-free and worry-free internet experience for everyone. }}
                    </p>
                    <img src="/img/ContributorImage.svg" alt="">
                </article>
            </div>
        </div>
        <div class="premium-cancel-buttons">
            <button id="keep-these-features" class="cta-button gold-button">
                {{ keep_these_features Keep these features }}
            </button>
            <button id="no-really-cancel" class="cta-button gray-button">
                {{ cancel_subscription Cancel subscription}}
            </button>
        </div>
    </section>
</main>

<script src="https://js.stripe.com/v3"></script>
<script src="https://checkout.stripe.com/v3/checkout.js"></script>
<script src="/adblock/js/payment/lib/payment_libs.js"></script>
<script src="/adblock/premium/manage-subscription/script.js"></script>
