title=Adblock Plus has been updated
prevent_cookie_prompt=1
robots=none
template=bare
page=update-0

<head>
  <link rel="stylesheet" href="build/css/update.min.css">
  <script>
    path("payment", {
      pageId: 2,
      campaignId: 5
    });
  </script>
</head>

<div class="update container content">
  <div class="update-header clearfix">
    <img alt="" height="130" width="130" class="update-header-image" src="/img/adblock-plus-latest.svg">
    <h1 class="update-header-heading">
      {{ new-tab-heading-1 Help Adblock Plus make the internet a better place }}
    </h1>
    <p class="update-header-lead">
      {{ new-tab-lead-1 We’ve been focused on adding new features and improving Adblock Plus’ performance, and we’re passionate about bringing you the best ad-blocking technology so you can enjoy a clean web. }}
    </p>
  </div>
  <p>
    {{ new-tab-lead-2 Adblock Plus is free, community-supported software. It's important to us that anyone can use our software, regardless of whether they can contribute or not. But that wouldn't be possible without your continued support. We devote a lot of time and resources into developing and securing the best online experience for our users. Please contribute what you think is a fair amount to the Adblock Plus project and our attempts to keep the ad-blocking community alive. Every contribution is appreciated! }}
  </p>
  <? include payment/form ?>
  <h2>
    {{ out-mission-heading-1 Creating a better web experience for everyone }}
  </h2>
  <p>
    {{ out-mission-lead-1 Our mission is to create an internet experience that's distraction-free and worry-free for everyone. We have a lot of work to do. From blocking more pop-ups and distractions, to making your internet experience safer and more secure, we are focused on ensuring that our users remain in control of how they use the internet. Your contribution allows our team to keep creating simple, intuitive tools that are accessible to everyone. We wouldn't be able to do what we do without you! }}
  </p>
  <p id="whats-new-support">
    {{ whats-new-support Need to report an issue? Reach out to us via social media, <a data-mask='{"href": "bWFpbHRvOmRvbmF0aW9uc0BhZGJsb2NrcGx1cy5vcmc="}'>email</a> or the <a href="https://adblockplus.org/forum">user forum</a>. }}
  </p>
  <script>
    (function(){
      var _wns = document.getElementById('whats-new-support');
      _wns.innerHTML = _wns.innerHTML.replaceAll('&lt;', '<').replaceAll('&gt;', '>');
    })()
  </script>
</div>
<footer class="privacy-footer">
  <a href="https://adblockplus.org/privacy">
    {{ privacy-policy Privacy Policy }}
  </a>
</footer>

<script src="https://js.stripe.com/v3/"></script>
<script src="/build/js/update.min.js"></script>